@*@model Esra.Core.Domain.Title*@
@model Esra.Web.Controllers.SalaryScaleViewModel
@{
    IList<Esra.Core.Domain.Title> list = Model.Titles;
    //list.Insert(0, new Esra.Core.Domain.Title { TitleCode = "n/a", AbbreviatedName = "--Select Payroll Title--" });
    List<SelectListItem> items = new SelectList(list, "TitleCode", "PayrollTitle_TitleCode").ToList<SelectListItem>();
  // items.Insert(0, new SelectListItem { Text = "--Select a Payroll Title--", Value = "", Selected = true });

}

    @using (Html.BeginForm("Details", "SalaryScale", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

       <fieldset>
@Html.DropDownListFor(x => x.Title.TitleCode, @items,"--Select a Payroll Title--", new { onchange = "this.form.submit();" })
@{
    ViewBag.Title = "Salary Scales";
}

        </fieldset>
    }

<h2>
    Title Codes</h2>
<div>
    @using (Html.BeginForm("Details", "SalaryScale", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <ul>
                <li>
                    <div class="editor-label" id="titles-drop-down-label">
                        @Html.LabelFor(model => model.Titles)
                    </div>
                    @*<div class="editor-field" id="titles-drop-down">
                        @this.Select("TitleCode").Options(Model.Titles, x => x.TitleCode, x => x.PayrollTitle_TitleCode).FirstOption("--Select Payroll Title--").Selected(Model.Title != null ? Model.Title.TitleCode.ToString() : string.Empty)
                    </div>*@ </li>
                <li>
                    <div class="editor-field" id="titlecodes-drop-down">
                        @this.Select("TitleCode").Options(Model.TitleCodes, x => x.TitleCode, x => x.TitleCode).FirstOption("--Select Title Code--").Selected(Model.Title != null ? Model.Title.TitleCode.ToString() : string.Empty)
                    </div>
                </li>
                <li>
                    <div class="editor-field" id="titlecodes-drop-down2">
                        @Html.DropDownListFor(x => x.Title.TitleCode, new SelectList(Model.TitleCodes, "TitleCode", "TitleCode"))
                    </div>
                </li>
            </ul>
            <input type="submit" value="Get Salary Scale" />
        </fieldset>

        <script type="text/javascript"\>
            $('#titlecodes-drop-down').change(function () {
                $(this).parents('form').submit();
            });
        </script>

        <script type="text/javascript"\>
            $('#titles-drop-down').change(function () {
                $(this).parents('form').submit();
            });
        </script>
    }

</div>

<div>
    @using (Html.BeginForm("Details", "SalaryScale", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <ul>
                <li>
                    <div class="editor-label" id="titles-drop-down-label">
                        @Html.LabelFor(model => model.Titles)
                    </div>
                     </li>
                     <li>
                     <div class="editor-field" id="titles-drop-down">
                        @this.Select("TitleCode").Options(Model.Titles, x => x.TitleCode, x => x.PayrollTitle_TitleCode).FirstOption("--Select Payroll Title--").Selected(Model.Title != null ? Model.Title.TitleCode.ToString() : string.Empty)
                    </div>
                     </li>
                @*<li>
                    <div class="editor-field" id="titlecodes-drop-down">
                        @this.Select("TitleCode").Options(Model.TitleCodes, x => x.TitleCode, x => x.TitleCode).FirstOption("--Select Title Code--").Selected(Model.Title != null ? Model.Title.TitleCode.ToString() : string.Empty)
                    </div>
                </li>*@
                <li>
                    <div>
                        @Html.DropDownListFor(x => x.Title.TitleCode, new SelectList(Model.TitleCodes, "TitleCode", "TitleCode"))
                    </div>
                </li>
            </ul>
            <input type="submit" value="Get Salary Scale" />
        </fieldset>

        <script type="text/javascript"\>
            $('#titlecodes-drop-down').change(function () {
                $(this).parents('form').submit();
            });
        </script>

        <script type="text/javascript"\>
            $('#titles-drop-down').change(function () {
                $(this).parents('form').submit();
            });
        </script>
    }

</div>
<div>
 @using (Html.BeginForm("Details", "SalaryScale", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <ul>
                <li>
                    <div class="editor-label" id="titles-drop-down-label">
                        @Html.LabelFor(model => model.Titles)
                    </div>
                 </li>

                <li>
                    <div class="editor-field" >
                        @Html.DropDownListFor(x => x.Title.TitleCode,
                        new SelectList(Model.TitleCodes,
                            "TitleCode",
                            "TitleCode",
                             Model.Title != null ? Model.Title.TitleCode.ToString() : string.Empty),
                            "--Select a Title Code--",
            //new { onchange = "this.form.submit()" }
                 new { id = "titlecodes-drop-down3" }
                            )
                    </div>
                </li>

            </ul>

        </fieldset>

        <script type="text/javascript"\>
            $('#titlecodes-drop-down3').change(function () {
                var selectedText = $(this).find('option:selected').text();
            $('#titleCodeValue').html(selectedText);
            $(this).parents('form').submit();
            });
        </script>

       <div id="titleCodeValue" />

    }

</div>