@model Esra.Web.Models.EmployeeSalaryComparisonViewModel
<div>
    @using (Html.BeginForm("Details", "EmployeeSalaryComparison", FormMethod.Get))
    {
        <h3>
            Employee Search Parameters</h3>
        <table>
            <tr>
                <th>
                    Titles:
                </th>
                <td>
                    <div class="editor-field">
                        @Html.ListBoxFor(x => x.SelectedTitleCodes,
                  new MultiSelectList(Model.TitlesList,
                            "TitleCode",
                            "PayrollTitle_TitleCode",
                            Model.SelectedTitles)
                        )
                        @* @this.MultiSelect("SelectedTitleCodes").Options(Model.TitlesList.OrderBy(x => x.AbbreviatedName), t => t.TitleCode, t => t.PayrollTitle_TitleCode).FirstOption("Any","--Any Title(s)--").Selected(Model.SelectedTitles)*@
                    </div>
                </td>
                <th>
                    Title Codes:
                </th>
                <td>
                    <div class="editor-field">
                        @Html.ListBoxFor(x => x.SelectedTitleCodes,
                            new MultiSelectList(Model.TitlesList.OrderBy(x => x.TitleCode),
                            "TitleCode",
                            "TitleCode",
                            Model.SelectedTitles)
                        )
                        @*@this.MultiSelect("SelectedTitleCodes").Options(Model.TitlesList.OrderBy(x => x.TitleCode), t => t.TitleCode, t => t.TitleCode).FirstOption("Any", "--Any Title Code(s)--").Selected(Model.SelectedTitles)*@
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    Departments:
                </th>
                <td>
                    <div class="editor-field">
                        @Html.ListBoxFor(x => x.SelectedDepartmentCodes,
                        new MultiSelectList(Model.DepartmentsList,
                        "DepartmentNumber",
                        "Name_DepartmentNumber",
                        Model.SelectedDepartments)
                        )
                        @*@this.MultiSelect("SelectedDepartmentCodes").Options(Model.DepartmentsList.OrderBy(x => x.Name).ThenBy(x => x.SchoolCode), d => d.DepartmentNumber, d => d.Name_DepartmentNumber).FirstOption("Any", "--Any Department(s)--").Selected(Model.SelectedDepartments)*@
                    </div>
                </td>
                <th>
                    Department Codes/IDs:
                </th>
                <td>
                    <div class="editor-field">
                        @Html.ListBoxFor(x => x.SelectedDepartmentCodes,
                            new MultiSelectList(Model.DepartmentsList
                           .OrderBy(t => t.DepartmentNumber)
                           .ThenBy(t => t.SchoolCode),
                            "DepartmentNumber",
                            "DepartmentNumber",
                            Model.SelectedDepartments)
                            )
                        @* @this.MultiSelect("SelectedDepartmentCodes").Options(Model.DepartmentsList.OrderBy(x => x.DepartmentNumber).ThenBy(x => x.SchoolCode), d => d.DepartmentNumber, d => d.DepartmentNumber).FirstOption("Any", "--Any Department ID(s)--").Selected(Model.SelectedDepartments)*@
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    Employee:
                </th>
                <td colspan="2">
                    <div class="editor-field">
                        @Html.DropDownListFor(x => x.SelectedEmployeeId,
                        new SelectList(Model.EmployeesList,
                        "EmployeeID",
                        "FullName",
                         Model.SelectedEmployee != null ? Model.SelectedEmployee.EmployeeID.ToString() : string.Empty),
                        "--Any Employee(s)--"
                        )
                    </div>
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    <input type="submit" value="Get Employee Salary Report" />&nbsp; &nbsp; &nbsp; &nbsp;
                    <input type="reset" value="Clear Selection(s)" onclick="resetForm(this.form); return false;" />
                    <br />
                    <br />
                </td>
            </tr>
        </table>
    }
    <script language="JavaScript" type="text/javascript">
    <!--
        $('submit').change(function () {
            debugger; alert("test1"); var selectedText = $(this).find('option:selected').text();
            $('#result').html(selectedText); $(this).parents('form').submit();
        });

        function resetForm(form) {
            var i = 0;
            var selectedDepartmentCodes = form.SelectedDepartmentCodes;
            var selectedDepartmentCodes1 = selectedDepartmentCodes[0];
            var selectedDepartmentCodes2 = selectedDepartmentCodes[1];

            for (i = 0; i < selectedDepartmentCodes1.length; i++) {
                if (selectedDepartmentCodes1.options[i].selected == true) {
                    //alert(i);
                    selectedDepartmentCodes1.options[i].selected = false;
                }
            }

            for (i = 0; i < selectedDepartmentCodes2.length; i++) {
                if (selectedDepartmentCodes2.options[i].selected == true) {
                    //alert(i);
                    selectedDepartmentCodes2.options[i].selected = false;
                }
            }

            var selectedTitleCodes = form.SelectedTitleCodes;
            var selectedTitleCodes1 = selectedTitleCodes[0];
            var selectedTitleCodes2 = selectedTitleCodes[1];

            for (i = 0; i < selectedTitleCodes1.length; i++) {
                if (selectedTitleCodes1.options[i].selected == true) {
                    //alert(i);
                    selectedTitleCodes1.options[i].selected = false;
                }
            }

            for (i = 0; i < selectedTitleCodes2.length; i++) {
                if (selectedTitleCodes2.options[i].selected == true) {
                    //alert(i);
                    selectedTitleCodes2.options[i].selected = false;
                }
            }

            var selectedEmployeeId = form.SelectedEmployeeId

            selectedEmployeeId.selectedIndex = 0;
            selectedEmployeeId.options[0].selected = true;
        };

        //-->
    </script>
</div>