@model Esra.Web.Models.EmployeeSalaryComparisonViewModel
@{
    if (Model.EsrSearchParameters != null)
    {
    <h3>
        Report Generation Criteria</h3>
    <table title="Report Generation Criteria">
        <tr>
            <th>
                Title Code(s):
            </th>
            <td>
                @foreach (Esra.Core.Domain.Title title in Model.EsrSearchParameters.SearchTitles)
                {
                    @title.TitleCode<br />
                }
            </td>
            <th>
                Payroll Title(s):
            </th>
            <td>
                @foreach (Esra.Core.Domain.Title title in Model.EsrSearchParameters.SearchTitles)
                {
                    @title.PayrollTitle<br />
                }
            </td>
            <th>
                Report Date:
            </th>
        </tr>
        <tr>
            <th>
                Department(s):
            </th>
            <td>
                @foreach (Esra.Core.Domain.Department dept in Model.EsrSearchParameters.SearchDepartments)
                {
                    @dept.Name_DepartmentNumber<br />
                }
            </td>
            <th>
                Employee:
            </th>
            <td>
                @Model.EsrSearchParameters.SearchEmployee.FullName.ToString()
            </td>
            <td>@String.Format("{0:MM/dd/yyyy}", Model.EsrSearchParameters.ReportDate)
            </td>
        </tr>
    </table>
    }
    else
    { <text>No Search Parameters selected.</text>
    }
}