<div id="admin-menu">
    <dl>
        <dt>
            @Html.ActionLink("Salary Scales", "Index", "SalaryScale")
        </dt>
        <dd>
            View Titles and Their Respective Salary Scales.</dd>
        <dt>
            @Html.ActionLink("Employee Salary Comparison", "Index", "EmployeeSalaryComparison")
        </dt>
        <dd>
            Compare Employees' Salaries By Title.</dd>
        <dt>
            @Html.ActionLink("Salary Review Analysis", "Index", "SalaryReviewAnalysis")
        </dt>
        <dd>
            Create a New Salary Review Analysis or Search For and View an Existing Salary Review
            Analysis.</dd>
        @*<dt>
            @Htlm.ActionLink("Title Code Averages Maintenance", "Index", "TitleCode")
        </dt>
        <dd>
            Enter a New or Edit an Existing Title Code Labor Market WAS/Mid Amount or Campus
            Average.</dd>
        <dd>
            Add New Salary Steps or Edit Existing Salary Step Numbers or Amounts.</dd>*@
        @*<dt>
            @Html.ActionLink("Salary Grade Maintenance", "Index", "SalaryGradeQuartiles")
        </dt>
        <dd>
            Enter a New or Edit an Existing Title Code Salary Grade Quartile Amount.</dd>*@
        @*<dt>
            @Html.ActionLink("Salary Step Maintenance","Index","SalaryStep")
        </dt>
        <dd>
            Create a New Copy of/or Edit the Amounts of an Existing Set of Salary Steps.</dd>
        <dd>
            Note: This applies to titles, which currently have Salary Steps.</dd>*@
        <dt>
            @Html.ActionLink("User Administration", "UserAdmin")
        </dt>
        <dd>
            Add, Edit or Remove a User from the System.</dd>
    </dl>
    <div id="div-emulate-user" @if (User.IsInRole("EmulationUser") == false)
                               { <text>style="display: none;"</text> }
                                 >
        @using (Html.BeginForm("Emulate", "Account", FormMethod.Get))
        {
            @Html.TextBox("tbEmulationUserName")

            <input id="btnEmulateUser" type="button" value="Emulate" />
        }
    </div>
</div>