<div id="demo-menu">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div id="div-rbl-demo-mode">
            <br />
            <h3>
                Select a Demonstration Mode:</h3>
            <br />
            @Html.RadioButton("demoRoles", "Admin")
            Administrator
            <br />
            @Html.RadioButton("demoRoles", "DOUser")
            Dean&#39;s Office User
            <br />
            @Html.RadioButton("demoRoles", "Reviewer")
            Reviewer
            <br />
            @Html.RadioButton("demoRoles", "User") Department User
            <br />
        </div>
    }
    <script language="JavaScript" type="text/javascript">
    <!--        //

        $("input[name='demoRoles']").change(function () {
            var token = $('[name=__RequestVerificationToken]').val();

            $.post('/Home/_DemoMenu',
                { __RequestVerificationToken: token, demoRole: $(this).val() },
                function (result) {
                    if (result.length > 50) {
                        $("#menu").html(result.toString());
                    }
                    else {
                        $("#menu").html("<fieldset><h3>No Demo Menu Available</h3></fieldset>");
                    }
                }
            );

            //$(this).parents('form').submit();
        });

//-->
    </script>
</div>