@model Esra.Web.Models.SalaryReviewAnalysisViewModel
@{
    if (Model.SalaryReviewAnalysisResults.Count > 0)
    {
    <div id="salary-review-analysis-results">
        <table id="analysis-table">
            <thead>
                <tr>
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        Reference<br />
                        Number
                    </th>
                    <th>
                        Originating<br />
                        Department
                    </th>
                    <th>
                        Home<br />
                        Department
                    </th>
                    <th>
                        Employee
                    </th>
                    <th>
                        Title<br />
                        Code
                    </th>
                    <th>
                        Date<br />
                        Initiated
                    </th>
                    <th>
                        Initiated&nbsp;By<br />
                        Reviewer<br />
                        Name
                    </th>
                    <th>
                        Date<br />
                        Approved
                    </th>
                    <th>
                        Approved<br />
                        Scenario
                    </th>
                    <th>
                        Department<br />
                        Comments
                    </th>
                    <th>
                        Dean's<br />
                        Office<br />
                        Comments
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Esra.Core.Domain.SalaryReviewAnalysis a in Model.SalaryReviewAnalysisResults)
                {
                    <tr>
                        <td>
                            <a href='@Url.Action("Details", "SalaryReviewAnalysis", new { ReferenceNumber = @a.ReferenceNumber })'>
                                <img alt="View Details" src='@Url.Image("Details.png")' />
                            </a>&nbsp;&nbsp;
                            <img id="delete-sra" src="../../Images/delete.png" class="edit-row" alt="delete"
                                onclick="deleteSra(this)" />
                        </td>
                        <td>
                            @a.ReferenceNumber
                        </td>
                        <td>
                            @(a.OriginatingDepartment != null && String.IsNullOrEmpty(a.OriginatingDepartment.Name) == false ? a.OriginatingDepartment.Name : String.Empty)
                        </td>
                        <td>
                            @a.Employee.HomeDepartment.Name
                        </td>
                        <td>
                            @a.Employee.FullName
                        </td>
                        <td>
                            @if (a.IsReclass)
                            { <strong>@a.Title.TitleCode*</strong><br /> }
                            @a.CurrentTitleCode
                        </td>
                        <td>
                            @String.Format("{0:MM/dd/yyyy}", a.DateInitiated)
                        </td>
                        <td>@a.InitiatedByReviewerName
                        </td>
                        <td>
                            @String.Format("{0:MM/dd/yyyy}", a.DateApproved)
                        </td>
                        <td>
                            @if (a.ApprovedScenario != null)
                            {
                                @a.ApprovedScenario.ScenarioNumber
                            }
                        </td>
                        <td>
                            @a.DepartmentComments
                        </td>
                        <td>
                            @a.DeansOfficeComments
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <span id="pnlProposedTitleCodeNote">
            <label id="lblProposedTitleCodeNote">
                *Proposed Title Code</label>
        </span>
    </div>
    }
    else
    {
    <fieldset>
        <br />
        <h3>
            &nbsp;&nbsp;No Matching Results Found</h3>
        <br />
    </fieldset>
    }
}
<script type="text/javascript">
<!--
    function deleteSra(row) {
        debugger;
        return false;
    }

// -->
</script>