@model Esra.Web.Models.SalaryReviewAnalysisEditorViewModel
<script type="text/javascript">

    $(function () {
        $("#SalaryReviewAnalysis_DateApproved").datepicker();
    });
</script>
<div>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.SalaryReviewAnalysis.ReferenceNumber)
    <h2>
        Salary Review Analysis</h2>
    @if (Model.ProposedTitle != null)
    {
        <center>
            <span id="proposed-title" style="font-weight: bold;">Proposed Title: </span>
            @Model.ProposedTitle.TitleCode_Name</center>
    }
    <table>
        @if (String.IsNullOrEmpty(Model.SalaryReviewAnalysis.ReferenceNumber))
        {
            <tr>
                <td>
                    -- Salary Review Analysis has yet to be saved --
                </td>
            </tr>
        }
        else
        {
            <tr>
                <th>
                    Reference Number
                </th>
                <th>
                    Date Initiated
                </th>
                <th>
                    Date Approved
                </th>
                <th>
                    Initiated By (Reviewer Name)
                </th>
            </tr>
            <tr>
                <td>
                    @Model.SalaryReviewAnalysis.ReferenceNumber
                </td>
                <td>
                    @String.Format("{0:MM/dd/yyyy}", Model.SalaryReviewAnalysis.DateInitiated)
                </td>
                <td>
                    @Html.EditorFor(x => x.SalaryReviewAnalysis.DateApproved)
                </td>
                <td>
                    @Model.SalaryReviewAnalysis.InitiatedByReviewerName
                </td>
            </tr>

        }
    </table>
    <table>
        <tr>
            <th>
                Scenario No.
            </th>
            <th>
                Criteria
            </th>
            <th>
                Percent Increase (%)
            </th>
            <th>
                New Annual Salary ($)
            </th>
            <th>
                Approved
            </th>
            <th>
                &nbsp
            </th>
        </tr>
        @{

            var len = Model.SalaryReviewAnalysis.Scenarios.Count;
            for (var i = 0; i < len; i++)
            {

            <tr>
                <th>
                    @Model.SalaryReviewAnalysis.Scenarios[i].ScenarioNumber.
                </th>
                <td>
                    @Model.SalaryReviewAnalysis.Scenarios[i].SelectionType<br />
                    <div class="editor-field">
                        @Html.DropDownListFor(x => @Model.SalaryReviewAnalysis.Scenarios[i].SelectionType, new SelectList(Model.SelectionTypes,
              "Type", "ShortType", @Model.SalaryReviewAnalysis.Scenarios[i].SelectionType), null, new { id = "ddlSelectionType" })
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(x => @Model.SalaryReviewAnalysis.Scenarios[i].PercentIncrease)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(x => @Model.SalaryReviewAnalysis.Scenarios[i].SalaryAmount)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.CheckBox(@"SalaryReviewAnalysis.Scenarios[" + i + "].Approved", @Model.SalaryReviewAnalysis.Scenarios[i].Approved)
                    </div>
                </td>
                <td>
                    <input type="submit" name="btnReset" value="Reset" id="btnResetScenario" onclick="resetScenario(this)" />&nbsp;
                    <a onclick="return confirm('Are you sure you want to delete this scenario?'); deleteScenario(this);"
                        id="btnDeleteScenario" class="buttons" href="javascript:__doPostBack('btnDelete','')">
                        <img src="../../Images/delete.png" alt="Delete" class="delete_button" /></a>
                </td>
            </tr>
            }
        }
        <tr>
            <th>
                Department Comments:
            </th>
            <td colspan="5">
                <div class="editor-field">
                    @Html.TextAreaFor(x => x.SalaryReviewAnalysis.DepartmentComments, new { rows = "2", cols = "60" })
                </div>
            </td>
        </tr>
        <tr>
            <th>
                Dean's Office Comments:
            </th>
            <td colspan="5">
                <div class="editor-field">
                    @Html.TextAreaFor(x => x.SalaryReviewAnalysis.DeansOfficeComments, new { rows = "2", cols = "60" })
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <center>
                    <a id="btnAddAnotherScenario" href="javascript:__doPostBack('btnAddAnotherScenario','')"
                        style="text-decoration: underline;">Add another scenario</a></center>
                <br />
            </td>
        </tr>
    </table>
    <script type="text/javascript">
       <!--
        function resetScenario(scene) {
            // reset a scenario's values back to their default values.
            debugger;

            return false;
        }

        function deleteScenario(scene) {
            // delete a scenario from the scenarios array.
            debugger;

            return false;
        }

        //-->
    </script>
</div>