@model Esra.Web.Models.SalaryReviewAnalysisViewModel
<script type="text/javascript">

    $(function () {
        $("#CreationDateString").datepicker();
    });
</script>
<div>
    @using (@Html.BeginForm("Index", "SalaryReviewAnalysis", FormMethod.Get))
    {
        <table id="SRA_table">
            <tr>
                <th colspan="4">
                    <h2>
                        Search Parameters</h2>
                </th>
            </tr>
            <tr>
                <th>
                    &nbsp;Reference Number
                </th>
                <td>
                    @* @( Model.SalaryReviewAnalysisSearchParamsModel.SelectedReferenceNumber != null ? Model.SalaryReviewAnalysisSearchParamsModel.SelectedReferenceNumber : string.Empty)*@
                    &nbsp;<div class="editor-field">
                        @Html.DropDownListFor(x => x.SelectedReferenceNumber,
                        new SelectList(Model.FilteredSalaryReviewAnalysis,
                        "ReferenceNumber",
                        "ReferenceNumber",
                         String.IsNullOrEmpty(Model.SelectedReferenceNumber) == false ? Model.SelectedReferenceNumber : String.Empty),
             "-- Select a Reference Number --", new { id = "ddlReferenceNumber" }
                        )
                    </div>
                </td>
                <td colspan="2">
                    (Use today&#39;s date for any date)
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <th>
                    &nbsp;Employee
                </th>
                <th>
                    &nbsp;Created By
                </th>
                <th>
                    &nbsp;Creation Date
                </th>
                <td rowspan="2">
                    <center>
                        <input type="submit" id="btnFindSRA" value="Find Salary Review Analysis" />
                    </center>
                </td>
            </tr>
            <tr>
                <td>
                    <br />
                    @* @(Model.SelectedEmployee != null ? Model.SelectedEmployee.Id.ToString() : String.Empty)*@
                    &nbsp;<div class="editor-field">
                        @Html.DropDownListFor(x => x.SelectedEmployee,
                        new SelectList(Model.FilteredEmployees,
                        "id",
                        "FullName",
null),
             "-- Any Employee --", new { id = "ddlEmployee" }
                        )
                    </div>
                </td>
                <td>
                    <br />
                    @* @(Model.SelectedUser != null ? Model.SelectedUser.Id.ToString()
                    : "0")*@ &nbsp;<div class="editor-field">
                        @Html.DropDownListFor(x => x.SelectedUser,
                        new SelectList(Model.FilteredUsers,
                        "Id",
                        "FullName",
  null),
             "-- Any Reviewer --", new { id = "ddlCreatedBy" }
                        )
                    </div>
                </td>
                <td>
                    <br />
                    &nbsp;<div class="editor-field">
                        @Html.TextBoxFor(a => a.CreationDateString)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
        </table>
    }
</div>