@model Esra.Web.Models.SalaryReviewAnalysisViewModel
<script type="text/javascript">

    $(function () {
        $("#CreationDateString").datepicker();
    });
</script>
<div>
    @using (@Html.BeginForm("Index", "SalaryReviewAnalysis", FormMethod.Get))
    {
        <table id="SRA_table">
            <tr>
                <th colspan="4">
                    <h2>
                        Search Parameters</h2>
                </th>
            </tr>
            <tr>
                <th>
                    &nbsp;Reference Number
                </th>
                <td>
                    &nbsp;<div class="editor-field">
                        @Html.DropDownListFor(x => x.SalaryReviewAnalysisSearchParamsModel.SelectedReferenceNumber,
                        new SelectList(Model.FilteredSalaryReviewAnalysis,
                        "ReferenceNumber",
                        "ReferenceNumber",
                         Model.SalaryReviewAnalysis != null ? Model.SalaryReviewAnalysis.ReferenceNumber : string.Empty),
             "-- Select a Reference Number --", new { id = "ddlReferenceNumber" }
                        )
                    </div>
                </td>
                <td colspan="2">
                    (Use today&#39;s date for any date)
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <th>
                    &nbsp;Employee
                </th>
                <th>
                    &nbsp;Created By
                </th>
                <th>
                    &nbsp;Creation Date
                </th>
                <td rowspan="2">
                    <center>
                        <input type="submit" id="btnFindSRA" value="Find Salary Review Analysis" />
                    </center>
                </td>
            </tr>
            <tr>
                <td>
                    <br />
                    &nbsp;<div class="editor-field">
                        @Html.DropDownListFor(x => x.SalaryReviewAnalysisSearchParamsModel.SelectedEmployee,
                        new SelectList(Model.FilteredEmployees,
                        "Id",
                        "FullName",
                        Model.SalaryReviewAnalysisSearchParamsModel.SelectedEmployee.Id),
             "-- Any Employee --", new { id = "ddlEmployee" }
                        )
                    </div>
                </td>
                <td>
                    <br />
                    @Model.SalaryReviewAnalysisSearchParamsModel.SelectedUser.Id
                    &nbsp;<div class="editor-field">
                        @Html.DropDownListFor(x => x.SalaryReviewAnalysisSearchParamsModel.SelectedUser,
                        new SelectList(Model.FilteredUsers,
                        "Id",
                        "FullName",
                        Model.SalaryReviewAnalysisSearchParamsModel.SelectedUser.Id),
             "-- Any Reviewer --", new { id = "ddlCreatedBy" }
                        )
                    </div>
                </td>
                <td>
                    <br />
                    &nbsp;<div class="editor-field">
                        @Html.TextBoxFor(a => a.SalaryReviewAnalysisSearchParamsModel.CreationDateString)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
        </table>
    }
</div>