@model Esra.Web.Models.SalaryReviewAnalysisEditorViewModel
@{
    ViewBag.Title = "Create";
}
<div id="vSelectReviewType">
    <br />
    <label id="lblNewSRAEmployeeLabel" style="font-weight: bold;">
        Employee Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    @Model.SelectedEmployee.FullName
    <br />
    <br />
    <label id="lblOriginalTitleCodeLabel" style="font-weight: bold;">
        Current Title Code:&nbsp;&nbsp;&nbsp;&nbsp;</label>
    @Model.SelectedEmployee.TitleCode
    <br />
    <br />
    <label id="lblSelectReviewTypeView" style="font-weight: bold; font-size: large;">
        Select a Salary Review Analysis Type:</label>
    <br />
    <br />
    @using (@Html.BeginForm("CreateEdit", "SalaryReviewAnalysis", FormMethod.Get))
    {
        @Html.Hidden("NewSraEmployee", Model.SelectedEmployee.id)
        <table id="tblCurrentProposedTitleCodes">
            <tr>
                <td>
                    @Html.DropDownListFor(x => x.ProposedTitle,
                        new SelectList(Model.ProposedTitles,
                        "TitleCode",
                        "TitleCode_Name",
                        String.IsNullOrEmpty(Model.SelectedEmployee.TitleCode) == false ? Model.SelectedEmployee.TitleCode : String.Empty),
                        null, new { id = "ddlProposedTitles" })
                </td>
                <td style="padding-left: 10px;">
                    <img id="imgReclassArrow" alt="reclass arrow" class="buttons" src="../../Images/arrow_left.jpg"
                        style="width: 14px;" />
                    &nbsp;Select a different Title Code to conduct a Reclassification Review.
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <center>
                        -- or --</center>
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" id="btnDoEquityReview" value="Perform Equity Review" style="width: 320px;" />
                </td>
                <td style="text-align: left; padding-left: 10px;">
                    <img id="imgEquityArrow" alt="equity arrow" class="buttons" src="../../Images/arrow_left.jpg"
                        style="width: 14px;" />
                    &nbsp;Select &quot;Perform Equity Review&quot; to conduct an Equity Review.
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" id="btnCancelSalaryReviewAnalysis" onclick="history.go(-1)"
                        value="Cancel/Back" />
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
        </table>
    }
    <script language="JavaScript" type="text/javascript">
    <!--        //
        $('#ddlProposedTitles').change(function () {

            var proposedTitle = $('#ddlProposedTitles')[0];

            if (proposedTitle.value.length > 0) {
                $(this).parents('form').submit();
            }
            return false;
        });

        // This method prevents the "ProposedTitle" variable from appearing in the query string;
        // otherwise, it would be passed because it exists as an input field in the form.
        // "ProposedTitle" is only relevant if a new (proposed) title has been selected when
        // conducting an analysis for a reclassification.  It should not be included for an
        // equity analysis.
        $('#btnDoEquityReview').click(function () {
            // sample listing of all javascript "location" properties:
            var url = "./CreateEdit/?NewSraEmployee=" + $('#NewSraEmployee').val();
            var host = window.location.host; //"localhost:49635"
            var hostname = window.location.hostname; // "localhost"
            var port = window.location.port; //"49635"
            var protocol = window.location.protocol; //"http:"
            var search = window.location.search; //	"?NewSraEmployee=8543333907238"
            var href = window.location.href; // "http://localhost:49635/SalaryReviewAnalysis/Create?NewSraEmployee=8543333907238"
            var windowLocationPathname = window.location.pathname; // "/SalaryReviewAnalysis/Create"
            // jQuery form action:
            var action = $(this).parents('form').attr('action'); //"/SalaryReviewAnalysis/CreateEdit"
            // create a javascript regular expression using a variable:
            var e_v = new RegExp(windowLocationPathname, "i");
            // replace the old action with the new:
            href = href.replace(e_v, action);
            // redirect to the new action:
            window.location.href = href;

            return false;
        });

    //-->
    </script>
</div>