<ul class="navigation">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Salary Scales", "Index", "SalaryScale")</li>
    <li>@Html.ActionLink("Employee Salary Comparison", "Index", "EmployeeSalaryComparison")</li>
    <li>@Html.ActionLink("Salary Review Analysis", "Index", "SalaryReviewAnalysis")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
</ul>